.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// h1 {
//     text-align: center;
// }

.search-sec {
    position: sticky;
    top: 0;
    background: white;
    z-index: 9;
}